/*.sidebar-heading {
  font-family: "Dancing Script", "Roboto", Helvetica, Arial, sans-serif;
  font-size: 20px;
  text-transform: none;
  letter-spacing: normal;
}

.small-navbar-heading {
  font-family: "Dancing Script", "Roboto", Helvetica, Arial, sans-serif;
  font-size: 24px;
  line-height: 24px;
  text-transform: none;
  letter-spacing: normal;
}

.content-column-content p,
.content-column-content li {
  color: #000000;
}*/

/*
=====================
Top Banner
=====================
*/
.banner {
    font-family: "Dancing Script", "Roboto", Helvetica, Arial, sans-serif;
    font-size: 35px;
    text-align: center;
}

/*
=====================
Search
=====================
*/
.search {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
}

#search-input {
    background-image: url('/images/icons/searchicon.png');
    /* Add a search icon to input */
    background-position: 10px 12px;
    /* Position the search icon */
    background-repeat: no-repeat;
    /* Do not repeat the icon image */
    width: 100%;
    /* Full-width */
    font-size: 16px;
    /* Increase font-size */
    padding: 12px 20px 12px 40px;
    /* Add some padding */
    border: 1px solid #ddd;
    /* Add a grey border */
    margin-bottom: 12px;
    /* Add some space below the input */
}

#search-input:focus {
    box-shadow: inset 0 1px 1px #aaa, 0 0 8px #aaa;
}

#search-results {
    /* Remove default list styling */
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#search-results li a {
    border: 1px solid #ddd;
    /* Add a border to all links */
    margin-top: -1px;
    /* Prevent double borders */
    background-color: #ffffff;
    /* Grey background color */
    padding: 12px;
    /* Add some padding */
    text-decoration: none;
    /* Remove default text underline */
    font-size: 16px;
    /* Increase the font-size */
    color: black;
    /* Add a black text color */
    display: block;
    /* Make it into a block element to fill the whole list */
}

#search-results li a:hover:not(.header) {
    background-color: #eee;
    /* Add a hover effect to all links, except for headers */
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
    -webkit-appearance: textfield;
    /* 1 */
    outline-offset: -2px;
    /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/*
=====================
Slides
=====================
*/
.w3-button {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: #2b7551;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: normal;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.w3-button:disabled {
    cursor: not-allowed;
    opacity: 0.3
}

.slide-control {
    padding-top: 10px;
    text-align: center;
}